<%= render template: "/partials/_header_business.html.erb" %>
<div class="business-container">
  <div class="business-description span_12_of_12">
    <div class="business-info span_9_of_12">
      <div class="business-offers-counter">
        <div class="mass-deals-counter">
          <p>
            <% if @mass_deal.count == 1%>
              <%= @mass_deal.count %> Mass Deal Offered
            <% else %>
              <%= @mass_deal.count %> Mass Deals Offered
            <% end %>
          </p>
        </div><!--  close mass deals div -->
        <div class="accepted-deals-counter">
          <p>
            <% if @accepted_deals.count == 1%>
              <%= @accepted_deals.count %> Deal Accepted
            <% else %>
              <%= @accepted_deals.count %> Deals Accepted
            <% end %>
          </p>
        </div>
      </div><!--  close business-offers-counter div -->
      <div class="business-logo">
        <h3><%= @business.name %></h3><br>
        <img class="business-logo" src="<%= @business.logo %>">
      </div>
    </div>



  </div> <!-- close business info div -->
  <!-- END BUSINESS INFO -->

  <section class="requests">
    <h3 class="deals-subtitle">Requests</h3>
    <ul id="requests-list">
    </ul>
  </section>

  <section class="mass-deals">
    <h3 class="deals-subtitle">Current Mass Deals Offered</h3>
    <ul class="mass-deals-list">
      <li class="deal new-deal">
        <span>
          <a class="create-mass-deal" href="/businesses/<%= current_business.id %>/mass_deal">+</a>
        </span>
      </li>
      <% @mass_deal.each do |deal| %>
        <% deal_template = Deal.find(deal.deal_id) %>
        <li id="mass<%= deal.id %>" class="deal deal-<%= deal_template.id %>">
          <img src="<%= deal_template.deal_image %>">
          <h3> <%= deal_template.name %> </h3>
          <p><%= deal_template.short_description %></p>
          <a class="cancel_mass_deal_link" href="/customer_deals/<%= deal.id %>">Cancel this offer</a>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="accepted-deals">
    <h3 class="deals-subtitle">Accepted Deals</h3>
    <ul class="accepted-deals-list">
      <% @accepted_deals.each do |deal| %>
        <% temp = Deal.find(deal.deal_id) %>
          <li class="deal deal-<%= temp.id %>">
            <img src="<%= temp.deal_image %>">
            <h3> <%= temp.name %> </h3>
            <p><%= temp.short_description %></p>
          </li>
      <% end %>
    </ul>
  </section>
</div>
<!-- END CONTAINER -->

<%= render template: "partials/_business_footer.html.erb" %>

<!-- MODALS -->
<div class="edit-deal-modal" id="edit-deal-modal">
  <div id="wrapper-edit"></div>
  <div class="deal-tile empty">
    <a class="create-button" href="#">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>

<div class="create-modal" id="create-form-container">

  <form action="/businesses/<%= current_business.id %>/create_mass_deal" id="create-form" class="create_mass_deal_form">
    <% @my_deals_templates.each do |template| %>
      <input type="radio" name="deal_template" value="<%= template.id %>"><%= template.name %><br>
    <% end %>
      <button type="submit">create</button>
  </form>
  <a href="#" class="simplemodal-close">cancel</a>
</div>

<div id="wrapper-for" class="make_an_offer_modal">
  <form id="make-offer">
    <% @my_deals_templates.each do |deal| %>
      <h3><%= deal.name %></h3>
      <p><%= deal.short_description %></p>
      <input type="radio" name="deal_template" value="<%= deal.id %>">
    <% end %>
    <input type="submit" value="Make offer">
  </form>
</div>

<script id="requests-template" type="text/x-handlebrs-template">
  {{#each requests}}
    <li id="list{{id}}" class="deal deal-{{id}}">
      <span>Customer name:<b> {{name}}</b></span>
      <span>Party of {{size}}</span>
      <span>Reservation time: {{time}} </span>
      <a class = "make_an_offer_link" href="{{id}}">Make an offer</a>
    </li>
  {{/each}}
</script>

<script id="deals-template-offer" type="text/x-handlebars-template">
  {{#each deals}}
    <div class="deal-tile" id="tile-{{id}}">
      <img class="offer_images" id="img{{id}}" src="{{deal_image}}">
      <h3 id="h3{{id}}">{{name}}</h3>
      <p>{{created_at}}</p>
      <p id="{{id}}">{{short_description}}</p>
    </div>
  {{/each}}
</script>

<script id="deals-template" type="text/x-handlebars-template">
  {{#each deals}}

    <div class="deal-tile" id="tile-{{id}}">
      <a href="{{id}}" class="delete-button">
        <i class="fa fa-trash"></i>
      </a>
      <a href="{{id}}" class="edit-button">
        <i class="fa fa-pencil-square-o" ></i>
      </a><br>
      <img id="img-{{id}}" src="{{deal_image}}">
      <h3 id="{{id}}">{{name}}</h3>
      <p>{{created_at}}</p>
      <p id="{{id}}">{{short_description}}</p>
    </div>

    <div class="edit-modal" id="edit{{id}}">
      <form id="edit-form" action="{{id}}">
        <input class="edit-form" type="text" name="title" value="{{name}}"><br>
        <input class="edit-form" type="text" name="image" value="{{deal_image}}"><br>
        <textarea class="textarea" name="edit_content">{{short_description}}</textarea><br>
        <input type="submit">
      </form>
      <a href="edit-{{id}}" class="cancel-button">cancel</a>
    </div>

  {{/each}}
</script>

<script type="text/javascript">
  $.ajax({
      url: window.location + '/deals',
      method: 'GET',
      dataType: 'JSON'
    }).done(function(data){
      var context = { deals: data };
      var source = $('#deals-template').html();
      var template = Handlebars.compile(source);
      var html = template(context);
      $('#wrapper').append(html);
    })
</script>

<script type="text/javascript">
  $('body').on('click','.create-mass-deal', function(e){
    e.preventDefault();
    $('#create-form-container').modal({overlayClose: true});
  })
</script>

<script type="text/javascript">
    $.ajax({
    url: window.location+'/request_list',
  }).done(function(data){
    var context =  { requests: data};
    var source = $('#requests-template').html();
    var template = Handlebars.compile(source);
    var html = template(context)
    $('#requests-list').append(html)
  })
</script>

