<%= render template: "partials/_header.html.erb" %>
<div class="container">
  <center><h1>Dashboard for <%= current_business.name%></h1></center>
    <!-- <div class="business-info"> -->
      <div class="accepted-deals right" style="float:left">
        <h3>
          <% if @mass_deal.count > 1%>
            <%= @mass_deal.count %> Deals Offered
          <% else %>
            <%= @mass_deal.count %> Deal Offered
          <% end %>
        </h3>
      </div>
      <div class="mass-deals right" style="float:right">
        <h3>
          <% if @accepted_deals.count > 1%>
            <%= @accepted_deals.count %> Deals Accepted
          <% else %>
            <%= @accepted_deals.count %> Deal Accepted
          <% end %>
        </h3>
      </div>
      <div class="business-info">
          <img class="business-logo" src="<%= @business.logo %>">
          <p><%= @business.short_description %></p>
      </div>
    </div>
  <hr>
    <section class="mass-deals">
      <h3 class="deals-subtitle">Current Mass Deals Offered</h3>
      <ul class="mass-deals-list">
        <li class="deal new-deal">
          <span><a href="/businesses/<%= current_business.id %>/mass_deal">+</a></span>
        </li>
        <% @mass_deal.each do |deal| %>
          <% temp = Deal.find(deal.deal_id) %>
            <li class="deal deal-<%= temp.id %>">
              <img src="<%= temp.deal_image %>">
              <h3> <%= temp.name %> </h3>
              <p><%= temp.short_description %></p>
            </li>
            <!-- <h3>You don't have any mass deals offered</h3> -->
        <% end %>
      </ul>
    </section>
  <hr>
    <section class="accepted-deals">
        <h3 class="deals-subtitle">Accepted Deals</h3>
      <ul class="accepted-deals-list">
        <% @accepted_deals.each do |deal| %>
          <% temp = Deal.find(deal.deal_id) %>
            <li class="deal deal-<%= temp.id %>">
              <img src="<%= temp.deal_image %>">
              <h3> <%= temp.name %> </h3>
              <p><%= temp.short_description %></p>
            </li>
            <!-- <h3>You don't have any mass deals offered</h3> -->
        <% end %>
      </ul>
    </section>
</div>
<%= render template: "partials/_business_footer.html.erb" %>
