<%= render template: "partials/_header.html.erb" %>
<div class="container">
    <div class="business-info">
      <div class="accepted-deals right">
        <h3>
          <% if @business.deals.count > 1%>
            <%= @business.deals.count %> Deals<br>
            Accepted
          <% else %>
            <%= @business.deals.count %> Deal<br>
            Accepted
          <% end %>
        </h3>
      </div>
      <div class="business-info">
          <img class="business-logo" src="<%= @business.logo %>">
          <p><%= @business.short_description %></p>
      </div>
    </div>
  <hr>
    <section class="mass-deals">
      <h3 class="deals-subtitle">Current Mass Deals Offered</h3>
      <ul class="mass-deals-list">
        <li class="deal new-deal">
          <span><a href="/businesses/mass_deal">+</a></span>
        </li>
        <% @business.deals.each do |deal| %>
            <li class="deal deal-<%= deal.id %>">
              <img src="<%= deal.deal_image %>">
              <h3> <%= deal.name %> </h3>
              <p><%= deal.short_description %></p>
            </li>
            <!-- <h3>You don't have any mass deals offered</h3> -->
        <% end %>
      </ul>
    </section>
  <hr>
    <section class="accepted-deals">
        <h3 class="deals-subtitle">Accepted Deals</h3>
      <ul class="accepted-deals-list">
        <% @business.deals.each do |deal| %>
            <li class="deal deal-<%= deal.id %>">
              <img src="<%= deal.deal_image %>">
              <h3> <%= deal.name %> </h3>
              <p><%= deal.short_description %></p>
            </li>
            <!-- <h3>You have not accepted any deals</h3> -->
        <% end %>
      </ul>
    </section>
</div>
<%= render template: "partials/_business_footer.html.erb" %>
