<header class="customer head span_12_of_12">
  <div class="logo">
    <a class="rooster" href="/customers/<%= current_customer.id %>"><img class="header-logo" src="<%=image_path('white.png')%>" alt="Dinner Winner"/></a>
  </div>
  <ul class="right head-links">
      <% if current_customer.google  %>
    <div class="avatar-container">
        <img class="small-avatar" src="<%= current_customer.avatar%>">
    </div>
      <% else %>
      <% end %>
    <li>
      <h3>Welcome <%= current_customer.first_name %>!</h3>
    </li>
    
    <li>
      <a class="check-deals-link" href="#">Pending Deals</a>
      <% if @pending_deals %>
        (<span id="pending_deal_count"><%= @pending_deals.count %></span>)
        <ul class="pending-deals span_5_of_12">
          <% @pending_deals.each do |customer_deal| %>
          <li id="drop_list_item<%= customer_deal.id %>" class="<%= customer_deal.id %> deal-line"><%= customer_deal.deal.name %></li><hr>
          <% end %>
        </ul>
      <% end %>
    </li>
    <li>
      <a href="<%= edit_customer_path %>">
        <i class="fa fa-cog rotate">
        </i>
      </a>
    </li>
    <li>
      <form action="/customers/sign_out" method="post"/>
      <input type="hidden" name="_method" value="delete">
      <input name="authenticity_token" type="hidden" value="token_value">
      <button class="logout-button" type="submit"><i class="fa fa-sign-out rotate"></i></button>
    </form>
    </li>
  </ul>
</header>
