<header class="customer head span_12_of_12">
  <div class="logo">
      <h1><a href="/">Dinner Winner</a></h1>
    </div>
  <ul class="right head-links">
    <li><h3>Welcome <%= current_customer.first_name %>!</h3></li>
    <li>
      <a class="check-deals-link" href="#">Pending Deals</a>
      <span>(<%= @pending_deals.count %>)</span>
      <ul class="pending-deals span_2_of_12">
        <% @pending_deals.each do |customer_deal| %>
        <li class="<%= customer_deal.id %> deal-line"><%= customer_deal.deal.name %></li><hr>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="<%= edit_customer_path %>">
        <i class="fa fa-cog rotate">
        </i>
      </a>
    </li>
    <li>
      <form action="/customers/sign_out" method="post"/>
      <input type="hidden" name="_method" value="delete">
      <input name="authenticity_token" type="hidden" value="token_value">
      <button class="logout-button" type="submit"><i class="fa fa-sign-out rotate"></i></button>
    </form>
    </li>
  </ul>
</header>
