<header class="business head span_12_of_12">
  <div class="logo">
    <a class="rooster" href="/businesses/<%= current_business.id %>"><img class="header-logo" src="<%=image_path('white.png')%>" alt="Dinner Winner"/></a>
  </div>
  <ul class="right head-links">
    <li>
      <a class="business-dash my-deals-link" href="/businesses/<%= current_business.id %>">
        Dashboard
      </a>
    </li>

    <li>
      <a id="deals-link" class="my-deals-link" href="/businesses/<%= current_business.id %>/deals">
        My Deal Templates
      </a>
    </li>

    <li>
      <a href="/businesses/<%= current_business.id %>/edit">
        <i class="fa fa-cog rotate"></i>
      </a>
    </li>

    <li>
      <form class="sign-out-form" action="/businesses/sign_out" method="post"/>
        <input type="hidden" name="_method" value="delete">
        <input name="authenticity_token" type="hidden" value="token_value">
        <button class="logout-button" type="submit"><i class="fa fa-sign-out rotate"></i></button>
      </form>
    </li>

  </ul>
</header>
