<div class="success">Request Sent!</div>
<%= render template: "/partials/_header.html.erb" %>
<div class="customer-container">
  <!-- <h3 class="find-deal">Find a Deal:</h3> -->
  <div class="request-bar span_12_of_12">
    <ul class="find-deal-labels span_12_of_12">
      <li class="span_2_of_12">Neighborhood</li>
      <li class="span_1_of_12">Party Size</li>
      <li class="span_2_of_12">Reservation Time</li>
      <li class="span_2_of_12"></li>
    </ul>
    <ul class="find-deal-options span_12_of_12">
      <li class="span_2_of_12">
        <select class="select-neighborhood">
          <% @neighborhoods.each do |n| %>
          <option class="<%= n %>"><%= n %></option>
          <% end %>
        </select>
      </li>
      <li class="span_1_of_12">
        <select class="select-party-size">
          <% @party_size.each do |n| %>
          <option class="<%= n %>"><%= n %></option>
          <% end %>
        </select>
      </li>
      <li class="span_2_of_12">
        <select class="select-time">
          <%= reservation_time_options %>
        </select>
      </li>
      <li class="span_2_of_12">
        <%= submit_tag("Request a Deal!", class: "create-customer-deal") %>
      </li>
    </ul>
  </div> <!-- close request bar -->

  <h1 class="subtitle">Today's Deals</h1>
  <ul class="todays-deals span_8_of_12">

    <% if @mass_deals.length > 0 %>
      <% @mass_deals.each do |mass| %>
      <li>
        <div class="image-overlay">
          <h3 id="h3<%= mass.deal.id %>">
            <%= mass.deal.name %>
          </h3>
          <a class="accept-mass-deal-link" href="">Accept this offer</a>
        </div>
        <div class="deal-tile span_3_of_12" id="tile-<%= mass.deal.id %>">
          <a href=""><img class="tile-image" id="img<%= mass.deal.id %>" src="<%= mass.deal.deal_image %>"></a>
        </div>
      </li>
      <% end %>
    <% else %>
      <h3>No Mass Deals Currently Offered</h3>
    <% end %>
  </ul> <!-- close mass deals -->

  <section class="accepted-deals">
    <h1 class="subtitle">Accepted Deals</h1>
    <div class="accepted-deals span_12_of_12">
      <% if @accepted_deals.length > 0 %>
        <% @accepted_deals.each do |accepted| %>
          <div class="deal-tile span_3_of_12" id="tile-<%= accepted.deal.id %>">
            <img id="img<%= accepted.deal.id %>" src="<%= accepted.deal.deal_image %>">
            <h3 id="h3<%= accepted.deal.id %>">
              <%= accepted.deal.name %>
            </h3>
            <p id="p<%= accepted.deal.id %>"><%= accepted.deal.short_description %></p>
            <p><%= accepted.deal.created_at.strftime('%A %D') %></p>
          </div>
        <% end %>
      <% else %>
        <h3>You haven't accepted any deals yet!</h3>
      <% end %>
    </div>
  </section>
  <!-- close accepted deals -->

  <script id="pending-deals" type="text/x-handlebars-template">
    <h4 class="business-name">{{business.name}}</h4>
    <p>{{business.rating}}</p>
    <p>{{business.address}}</p>
    <p>{{business.short_description}}</p>
    <p>{{deal.name}}</p>
    <img src="{{deal.deal_image}}"/>
    <a href="/customer_deals/{{customer_deal.id}}/edit">Accept Deal!</a>
  </script>

  <div class="customer-deal-modal"></div>
</div> <!-- close customer container -->
<%= render partial: "/partials/footer.html.erb" %>

