<div class="success">Request Sent!</div>
<%= render template: "/partials/_header.html.erb" %>
<div class="customer-container">
  <!-- <h3 class="find-deal">Find a Deal:</h3> -->
  <div class="request-bar span_12_of_12">
    <div class="small-request-bar span_9_of_12">
      <ul class="find-deal-labels row">
        <li class="span_4 col">
          <div>Neighborhood</div>
          <div>
            <select class="select-neighborhood">
              <% @neighborhoods.each do |n| %>
              <option class="<%= n %>"><%= n %></option>
              <% end %>
            </select>
          </div>
        </li>
        <li class="span_2 col">
          <div>Party Size</div>
          <div>
            <select class="select-party-size">
              <% @party_size.each do |n| %>
              <option class="<%= n %>"><%= n %></option>
              <% end %>
            </select>
          </div>
        </li>
        <li class="span_3 col">
          <div>Reservation Time</div>
          <div>
            <select class="select-time">
              <%= reservation_time_options %>
            </select>
          </li>
          <li class="col span_1"><%= submit_tag("Request a Deal!", class: "create-customer-deal") %></li>
        </div>
      </ul>

  </div> <!-- close request bar -->

  <div class="accepted-deals-wrapper">
    <h1 class="subtitle">Accepted Deals</h1>
    <ul class="accepted-deals span_9_of_12">
      <% if @accepted_deals.length > 0 %>
        <% @accepted_deals.each do |accepted| %>
          <li class=" accepted-deal span_6_of_12">
            <div class="accepted-deal-image span_5_of_12">
              <h3><%= accepted.reservation_time %></h3>
            </div>
            <div class="accepted-deal-info span_6_of_12">
              <p class="deal-business"><%= Business.find(accepted.deal.business_id).name %></p>
              <p class="deal-address"><%= Business.find(accepted.deal.business_id).address %></p>
              <p class="deal-title" id="h3<%= accepted.deal.id %>"><%= accepted.deal.name %></p>
            </div>
          </li>
        <% end %>
      <% else %>
        <h3></h3>
      <% end %>
    </ul>
  </div>
  <!-- close accepted deals -->
  <div class="todays-deals">
    <h1 class="subtitle">Today's Deals</h1>
    <ul class="todays-deals span_9_of_12">

      <% if @mass_deals.length > 0 %>
        <% @mass_deals.each do |mass| %>
        <li>
          <div class="image-overlay">
            <h3 id="h3<%= mass.deal.id %>">
              <%= mass.deal.name %>
            </h3>
            <a class="accept-mass-deal-link" href="customers/customer_deals/accept_mass/<%= mass.id %>">Accept this offer</a>
          </div>
          <div class="deal-tile span_3_of_12" id="tile-<%= mass.deal.id %>">
            <a href=""><img class="tile-image" id="img<%= mass.deal.id %>" src="<%= mass.deal.deal_image %>"></a>
          </div>
        </li>
        <% end %>
      <% else %>
        <h3>No Mass Deals Currently Offered</h3>
      <% end %>
    </ul> <!-- close mass deals -->
  </div>



  <script id="pending-deals" type="text/x-handlebars-template">
    <h4 class="business-name">{{business.name}}&nbsp;</h4>
    <p class="business-rating"></p>
    <p class="business-address">{{business.address}}</p>
    <div class="business-image span_6 col left">
      <p>{{deal.name}}</p>
      <img class=" col" src="{{deal.deal_image}}"/>
      <p>{{deal.short_description}}</p>
    </div>
    <div class="accept">
      <a class="accept_pending_deal_dropdown_link" href="customer_deals/accept/{{customer_deal.id}}">Accept Deal!</a>
    </div>
  </script>

  <div class="customer-deal-modal"></div>
</div> <!-- close customer container -->
<%= render partial: "/partials/business_footer.html.erb" %>

