<%= render template: "/partials/_header_business.html.erb" %>
<div id="wrapper" class="container span_8_of_12">
  <h1 class="subtitle">Your Templates</h1>
  <ul class="deal-templates">
    <li class="deal new-deal">
      <span>
        <a class="create-button" href="">
          +
        </a>
      </span>
    </li>
    <% @deals.each do |deal| %>
      <li class="deal" id="tile-<%= deal.id %>">
        <div class="edit-buttons">
          <a href="<%= deal.id %>" class="delete-button">
            <i class="fa fa-trash"></i>
          </a>
          <a href="<%= deal.id %>" class="edit-button">
            <i class="fa fa-pencil-square-o" ></i>
          </a>
        </div>
        <div class="image-overlay">
          <h3 id="h3-<%= deal.id %>" class="deal-title"><%= deal.name %></h3>
          <p class="deal-reservation-time"><%= deal.created_at.strftime('%A, %d %b %Y %l:%M %p') %></p>
        </div>
        <div class="deal-tile span_3_of_12">
          <img id="img-<%= deal.id %>" class="tile-image" src="<%= deal.deal_image %>">
        </div>
      </li>
  <% end %>
  </ul>

  <!-- MODALS -->
  <% @deals.each do |deal| %>
    <div class="edit-modal" id="edit-<%= deal.id %>">
      <form id="edit-form" action="<%= deal.id %>">
        <input class="edit-form" type="text" name="title" value="<%= deal.name %>"><br>
        <input class="edit-form" type="text" name="image" value="<%= deal.deal_image %>"><br>
        <textarea class="textarea" name="edit_content"><%= deal.short_description %></textarea><br>
        <input type="submit">
      </form>
      <a href="edit-<%= deal.id %>" class="cancel-button">cancel</a>
    </div>
  <% end %>  
</div>


  <div class="create-modal" id="create-form-container">
    <form class="create-form" action="/businesses/<%= current_business.id %>/deals">
      <input type="text" name="title"><br>
      <input type="text" name="image" value="http://www.biz-logo.com/examples/063.gif"><br>
      <textarea class="textarea" name="content"></textarea><br>
      <input type="submit" value="enter">
    </form>
    <a href="#" class="cancel-button">cancel</a>
  </div>




<script id="deals-template" type="text/x-handlebars-template">
  {{#each deals}}

    <div class="deal-tile" id="tile-{{id}}">
      <a href="{{id}}" class="delete-button">
        <i class="fa fa-trash"></i>
      </a>
      <a href="{{id}}" class="edit-button">
        <i class="fa fa-pencil-square-o" ></i>
      </a>
     <br>
      <img id="img-{{id}}" src="{{deal_image}}">
      <h3 id="h3-{{id}}">{{name}}</h3>
      <p>{{created_at}}</p>
      <p id="{{id}}">{{short_description}}</p>
    </div>

    <div class="edit-modal" id="edit-{{id}}">
      <form id="edit-form" action="{{id}}">
        <input class="edit-form" type="text" name="title" value="{{name}}"><br>
        <input class="edit-form" type="text" name="image" value="{{deal_image}}"><br>
        <textarea class="textarea" name="edit_content">{{short_description}}</textarea><br>
        <input type="submit">
      </form>
      <a href="edit-{{id}}" class="cancel-button">cancel</a>
    </div>

  {{/each}}
</script>



